    <li>
      <a class="nav--news outbound link" target="_blank" href="http://www.coventrytelegraph.net/all-about/coventry-sports-awards">News</a>
    </li><!--
    <li>
      <a class="nav--categories" href="{{ site.url }}/shortlist/">Shortlist</a>
    </li>
    <li>
      <a class="nav--categories" href="{{ site.url }}/winners/">Winners</a>
    </li>
 --><li>
      <a class="nav--categories" href="{{ site.url }}/categories/">Categories</a>
    </li><!--
 --><li>
      <a class="nav--ceremony" href="{{ site.url }}/ceremony/">Ceremony</a>
    </li><!--
 --><li>
      <a class="nav--sponsors" href="{{ site.url }}/sponsors/">Sponsors</a>
    </li><!--
  --><li>
      <a class="nav--contact" href="{{ site.url }}/contact/">Contact</a>
    </li><!----><li>
      <a class="nav--2014" title="View the 2014 awards site" href="//www.coventrysportsawards.co.uk/2014/">2014 Awards</a>
    </li>
