{% if site.sponsors %}
<section class="wrapper partners-bar box__large c cf">

  <div class="wrapper__sub">

    <section class="ss1-ss4 ms1-ms6 ls1-ls8">
      <h3 class="beta heading--main">Supported by:</h3>

      <ul class="list gallery cf">

      {% for sponsor in site.sponsors %}

        <li class="gallery__item">
          <a href="{{ site.url }}/sponsors/">
            <img class="image__responsive" src="{{ site.media }}/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.title }}">
          </a>
        </li>

      {% endfor %}

      </ul>

    </section>

    <section class="ss1-ss4 ms1-6 ls9-ls12">

      <h3 class="beta heading--sub">In association with:</h3>
         <a href="{{ site.url }}/sponsors/">
            <img class="image__responsive" src="{{ site.media }}/sponsors/logo_championsuk.svg" alt="Champions UK">
          </a>

    </section>

  </div><!--/ wrapper__sub  -->

</section>
{% endif %}
